@font-face {
    font-family: "Open Sans";
    src: url("fonts/open-sans-latin-300-normal.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/open-sans-latin-400-normal.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/open-sans-latin-500-normal.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/open-sans-latin-600-normal.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/open-sans-latin-700-normal.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}


:root {
    --black: #000000;
    --dark-grey: #A9A9A9;
    --grey: #808080;
    --light-grey: #D3D3D3; 
    --white: #ffffff
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05em;
    line-height: 1.5;
    max-width: 1000px;
    margin: 50px;
    background-color: var(--black);
    color: var(--grey);
}

h1 {
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: 600;
    color: var(--white);

}

h2 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--grey);
    max-width: 500px;
    margin-top: 50px;

}

p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--grey);


}

a {
    color: inherit; /* Uses the paragraph's 50% opacity white */
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}